%flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

%grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

%button-style {
  width: 25.6rem;
  height: 6.1rem;
  border-radius: 0.6rem;
}
