$color-dark-blue: #172339;
$color-grey: #49566d;
$color-cream: #f3ede7;
$color-cream-white: #faf8f6;
$color-purple: #a060ff;
$color-violet: #cb30e3;
$color-yellow: #ffa84e;

$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";
