.testimonial {
  @extend %grid;
  gap: 4rem;
  max-width: 111rem;
  width: 100%;
  height: 74.8rem;
  background-color: $color-dark-blue;
  border-radius: 1.5rem;
  padding: 0 1.6rem 6.4rem;

  &__image {
    margin-top: -55%;
  }

  &__review {
    @extend %grid;
    grid-template-columns: subgrid;
    gap: 4rem;
  }

  &__icon {
    margin-bottom: -0.3rem;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.042rem;

    span {
      font-weight: 700;
    }
  }

  &__review-text {
    font-weight: 400;
    letter-spacing: 0.009rem;
    color: $color-cream;
  }

  &__heading,
  &__author {
    color: $color-cream-white;
  }

  &__review-text,
  &__author {
    @extend %text-heading-m;
  }

  &__footer,
  &__review-text {
    text-align: center;
  }

  &__author {
    text-transform: uppercase;
    letter-spacing: -0.018rem;
  }

  &__author-position {
    @extend %text-heading-s;
    font-weight: 400;
    color: $color-cream;
    letter-spacing: 0.25rem;
  }
}

@include respond-to($breakpoint-tablets) {
  .testimonial {
    height: 68.4rem;
    width: 68.9rem;
    margin: 0 auto 0;
    padding: 0 5.8rem 6.4rem;

    &__image {
      margin-top: -32%;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .testimonial {
    height: 54.5rem;
    grid-template-columns: repeat(3, auto);
    width: 94.4rem;
    padding: 0 4rem;

    &__icon {
      margin-bottom: 16rem;
    }

    &__image {
      margin-top: -15%;
      img {
        max-width: initial;
      }
    }

    &__review {
      justify-items: start;
    }

    &__review-text,
    &__footer {
      text-align: left;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .testimonial {
    width: 100%;
    padding: 0 12.5rem 0 11.2rem;

    &__heading {
      font-size: 4.8rem;
      line-height: 1.17;
      letter-spacing: -0.05rem;
    }

    &__review-text {
      font-size: 2rem;
      line-height: 1.75;
      letter-spacing: 0.01rem;
    }

    &__review {
      padding: 8.8rem 0;
    }
  }
}
